html,
body {
  height: 100%;
}

body {
  padding: 70px 10px 0px 10px;
}

a {
  text-decoration: underline;
}

a.btn {
  text-decoration: none;
}

#logo {
  margin-bottom: 3px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 30px;
  background-color: #2c151f;
}

h1 {
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 2.0em;
  font-weight: 800;
  margin-top: 0px;
  margin-bottom: 3px;
}

h1 .page-title {
  margin-top: 0px;
  font-size: 1.2em;
}

#map {
  width: 100%;
  height: 150px;
  border: 1px solid black;
  margin-bottom: 10px;
}

#welcome-map {
  width: 100%;
  height: 150px;
  border: 1px solid black;
  margin-bottom: 10px;
}

.nav a {
  text-decoration: none;
}

.navbar-brand {
  text-decoration: none;
}

// Credit to http://www.bootply.com/106743 for helping me
// sort out the eternally annoying bottom navbar issue in
// Bootstrap.

#bottomNav {
  padding: 10px;
}

#bottomNav a {
  font-size: 12pt;
  color: #ddd;
  text-decoration: none;
}

#bottomNav a:hover {
  color: #fff;
}

.list-group-item {
  padding-left: 0px;
}

#book {
  float: left;
  border: 1px solid black;
  margin-right: 3px;
}

@-moz-document url-prefix() {
    fieldset { display: table-cell; }
}
